.teamscontainer {
    display: grid;
    grid-template-columns: 10% 15% auto 10% 10% repeat(3, 5%) 10% 10% 10%;
    gap: 10px;
    color: white;
    align-items: center;
    padding: 1.5rem;
}

.logo {
    max-height: 50px;
    max-width: 50px;
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: none;
    }
}